/* shared styles */

body {
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        
        
      }
.btn-primary{
    padding:10px 20px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size:1.2rem;
    color:#fff;
}


 *{
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;

} 
header{
     margin:50px 150px; 
    
}
/* nav styles start here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{

    display: flex;
    gap:20px;
    align-items: center;
}
.logo h3{
    font-size: 2.2rem;
}
.logo h3 span{
    color:#ff42a5;
}
.nav-content{
    display: flex;
    align-items: center;
}
.nav-content li{
    margin-right: 20px;
}
.nav-content li a{
    font-size: 1.2rem;
}
.btn-nav{
    font-size:1.2rem;
    border:none;
    padding:10px 30px;
    background-color: #e7e6e9;
    border-radius: .5rem;
}
.btn-nav .fa-youtube{
    color:red;
}
/* banner styles */
.banner{
    margin-top:100px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.banner-content{
  max-width:30%;
  background-color: #fbf7fd;
  border-radius: 8px;
  padding:30px;
}
.banner-content h3{
    font-size:3rem;
    font-weight: 600;
}
.banner-content h2{
    font-weight: 900;
    font-size:6rem;
    background-image: linear-gradient(to bottom, #F948B2, 
    #8758F1);
   -webkit-background-clip: text;
   color:transparent;
    
} 
.banner-photo{
  max-width:50%;
}
.banner-photo img{
    width:100%;
}
.banner-content li a{
    font-size:1.2rem;
    font-weight: 500;
    margin-left:10px;
   
}
.banner-content li{
    margin-bottom: 10px;
}
.sign-color{
    background-color: #eb5757;
}
.rougue-color{
    background-color: #4ec5f7;
    margin-left:15px;
}
/* We are gamer style */
main{
   max-width:1200px;
    margin:50px auto;
}
.we-are-gamer-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
 .we-are-gamer-photo{
    width:60%;
 }
.we-are-gamer-photo img{
    width:100%;
}
.we-are-gamer-content{
    width:40%;
}
.we-are-gamer-content h3{
    font-weight: 600;
    font-size:3rem;
    background-image: linear-gradient(to bottom, #F948B2, 
    #8758F1);
   -webkit-background-clip: text;
   color:transparent;
   margin-bottom:15px;
    
}
.we-are-gamer-content .first{
    font-size:1.2rem;
    margin-bottom:15px;
}
.game-btn-color{
    background-color: #ff42a5;
}
.ellipsis{
    white-space: nowrap;
    width:120px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:15px;
    margin-bottom: 15px;
}
.we-are-gamer-content h4{
    font-size:1.2rem;
    font-weight: 800;
}

/* for mobile devices */
@media  screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    .nav-content{
        flex-direction: column;
        gap: 1rem;
    }
    .btn-nav{
        font-size: 1rem;
        padding:10px;
        text-wrap: nowrap;
    }
    /* banner styles*/
    .banner{
        margin:50px 0px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content{
      max-width:100%;
      padding:20px;
      
    }
    .banner-photo{
      max-width:80%;
      }
    header{
        margin:0px 0px;
    }
    .banner-content h2{
        font-size:5rem;
    }
    .banner-content h3{
        font-size:2.5rem;
    }
    /* gamer section */
    .we-are-gamer-container{
        flex-direction: column;
    }
    .we-are-gamer-photo{
        width:80%;
     }
     .we-are-gamer-content{
        width:100%;
        padding: 20px;
        text-align: center;
    }
    .ellipsis{
        padding-left:20px;
    }
     
}

     
/* for medium devices */
@media screen and (min-width:576px) and (max-width:992px){
    nav{
        flex-direction: column;
    }
    .banner{
        margin:50px 0px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-content{
      max-width:100%;
      padding:20px;
      
    }
    .banner-photo{
      max-width:100%;
      }
    header{
        margin:0px 0px;
    }
    .we-are-gamer-container{
        flex-direction: column;
    }
    .we-are-gamer-photo{
        width:80%;
     }
     .we-are-gamer-content{
        width:100%;
        padding: 0px 100px;
        text-align: center;
    }
    .ellipsis{
        padding-left:20px;
    }

}