/* shared styles */

body {
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        
      }
.btn-primary{
    padding:10px 20px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size:1.2rem;
    color:#fff;
}


*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style: none;

}
header{
    margin:5px 150px;
}
/* nav styles start here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{

    display: flex;
    gap:20px;
    align-items: center;
}
.logo h3{
    font-size: 2.2rem;
}
.logo h3 span{
    color:#ff42a5;
}
.nav-content{
    display: flex;
    align-items: center;
}
.nav-content li{
    margin-right: 20px;
}
.nav-content li a{
    font-size: 1.2rem;
}
.btn-nav{
    font-size:1.2rem;
    border:none;
    padding:10px 30px;
    background-color: #e7e6e9;
    border-radius: .5rem;
}
.btn-nav .fa-youtube{
    color:red;
}
/* banner styles */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
  max-width:30%;
  background-color: #fbf7fd;
  border-radius: 8px;
  padding:30px;
}
.banner-content h3{
    font-size:3rem;
    font-weight: 600;
}
.banner-content h2{
    font-weight: 900;
    font-size:6rem;
    background-image: linear-gradient(to bottom, #F948B2, 
    #8758F1);
   -webkit-background-clip: text;
   color:transparent;
    
} 
.banner-photo{
  max-width:50%;
}
.banner-photo img{
    width:100%;
}
.banner-content li a{
    font-size:1.2rem;
    font-weight: 500;
    margin-left:10px;
   
}
.banner-content li{
    margin-bottom: 10px;
}
.sign-color{
    background-color: #eb5757;
}
.rougue-color{
    background-color: #4ec5f7;
    margin-left:15px;
}

/* for mobile devices */
@media  screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    .nav-content{
        flex-direction: column;
        gap: 1rem;
    }
    .btn-nav{
        font-size: 1rem;
        padding:10px;
        text-wrap: nowrap;
    }
    /* banner styles*/
    .banner-container{
        flex-direction: column;
    }
    .banner-content{
        width:100%;
    }
    .banner-photo{
        width:100%;
      }
     
}
     
/* for medium devices */
@media screen and (min-width:576px) and (max-width:992px){
    nav{
        flex-direction: column;
    }

}